body{
    background-image: url('imgs/schedulesitebg.jpg');
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}
.table{
    background-color: darkgreen;
    border: 8px solid rgb(180, 120, 51);
}
th{
    border: 5px solid white;
    font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}
